<p>
  Dear Customer,
  <br><br>
  This is to inform you that your Netflix subscription is expiring on <strong><%= @subscription.expiry_date %></strong>.
  <br>
  We request you to subscribe before the expiry date to avoid uninterrupted services.
  <br><br>
  Regards,
  <br>
  Netflix
</p>
