<h1><%= @restaurant.name %></h1>
<h2><%= @restaurant.address %></h2>

<% @restaurant.categories.each do |category| %>
  <h3><%= category.name %></h3>
  <% category.products.each do |product| %>
    <p><%= "#{product.name} : #{product.description} -> #{product.price}" %></p>
  <% end %>
<% end %>
